Analysis/13TeV/HistFiles/*
Analysis/13TeV/Figures/*
Analysis/13TeV/Tables/*
Analysis/13TeV/Cards/*
Analysis/13TeV/Temp/*
Analysis/13TeV/EventDisplay/*cxx*
Analysis/13TeV/EventDisplay/*.so
Analysis/13TeV/EventDisplay/*.d
Analysis/13TeV/EventDisplay/ttbar/*
Analysis/13TeV/EventDisplay/sig/*
Analysis/13TeV/EventDisplay/fig/*
Analysis/13TeV/*.so
Analysis/13TeV/*.d
Analysis/13TeV/*.org
Analysis/13TeV/*.~
Analysis/13TeV/*.swp
Analysis/13TeV/*.swp
Analysis/13TeV/*_C*
Analysis/13TeV/.*
Analysis/13TeV/FitStudy/.*
Analysis/13TeV/FitStudy/*.org
Analysis/13TeV/FitStudy/fig/*
Analysis/13TeV/FitStudy/*_C*
Analysis/13TeV/GenStudy/.*
Analysis/13TeV/GenStudy/*.org
Analysis/13TeV/GenStudy/fig/*
Analysis/13TeV/GenStudy/*_C*
Analysis/13TeV/RelVal/*_C*
Analysis/13TeV/RelVal/fig/*
Analysis/13TeV/RelVal/babies/*
Processing/BabyMaking/Batch/*.org
Processing/BabyMaking/Batch/*~
Processing/BabyMaking/Batch/*.C.*
~
